<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div class="content-container">
        {{ content }}
      </div>

      <!-- Use it when (and if) there will real tradffic
        
      <script 
      type='text/javascript' 
      id='mapmyvisitors' 
      src='https://mapmyvisitors.com/map.js?cl=000000&w=300&t=n&d=ywDAj5Ln8uza1j2LfZXUr29q1G2uiR_3oGqoPxWvpRs&co=ffffff&cmn=289cbf&ct=000000'>
      </script> -->
      
      <br /><br />


      {% include footer.html %}
    </div>

    


  </body>
</html>
