---
layout: default
---

<h1>
  Home
</h1>

<article>

  <p>

  Hi, I am Francesco! 

  <br  /><br  />

  I am a first-year PhD student at the <a href="https://www.uni-bamberg.de/en/ai/chair-of-explainable-machine-learning/">Otto-Friedrich University of Bamberg</a>, 
  under the supervision of Professor <a href="http://www.christianledig.com/">Christian Ledig</a>. I am currently working on harnessing the power of foundation 
  models for optimal utilization in downstream tasks, with a strong emphasis on efficiency, explainability and, robustness.

  <br  /><br  />

  Previously, I worked on <a href="assets/pdf/SummaryMScThesis.pdf" target="_blank">Bayesian uncertainty on dedicated breast-CT scans</a> 
  at the <a href="http://axti.radboudimaging.nl/index.php/Home">Advanced X-ray Tomographic Imaging lab</a>, under the supervision of
  <a href="https://scholar.google.com/citations?user=C6l5Es8AAAAJ&hl=en">Marco Caballo</a>.

  <br  /><br  />

  Finally, I also interned at <a href="https://www.sto.nato.int/">NATO</a> and <a href="https://aikospace.com/">AIKO</a>, 
  where I worked on anomaly detection on underwater communications and visual odometry on planetary-like environments, respectively.

  <br  /><br  />

  This blog is still <a href="/writing.html" target="_blank" style="color: rgba(255, 153, 0, 0.953)">under construction</a>, stay tuned!

  </p>

</article>

<!--
{% for post in paginator.posts %}
  <div class="posts-container">
    <h1>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %}

 < !-- Pagination links --> 

<!-- 
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>-->
